@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&family=Kanit&display=swap");

#root {
  width: 100%;
  height: 100%;
  font-family: "Comfortaa", cursive;
}

body {
  background-color: rgb(217 249 157);
}
